
<div id="page-content">


<div class="text-center">
  <h1 class="text-center">Posts</h1>
  <%= link_to "Create new post", new_article_path, method: :get, class: "btn btn-success mb-2" %>
</div>
  <%= render "article", obj: @articles %>
 </div>
    