<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%  @articles.each do |article| %>
    <tr>
      <td> <%= article.title%> </td>
      <td> <%= article.description%> </td>
      <td> Action <%= link_to "Show", article %> <%= link_to "Edit", article %>
    </tr>
    <% end %>
  </tbody>
</table>