<div class="row justify-content-center mt-2">
<h1 class="text-center">Edit Account</h1>
  <div class="col-5 p-3  border border-light rounded alert-dismissable fade show" id="page-content">
 <%= render 'form'%>
</div>
</div>