<div class="row justify-content-center mt-2">
  <div class="col-5 border border-light rounded alert-dismissable fade show" id="page-content">
<h1 class="text-center">Edit Account</h1>
 <%= render 'form'%>
</div>
</div>