<div class="row justify-content-center">
<div class="col p-5  border border-light rounded alert-dismissable fade show" id="page-content">
<h1 class="text-center">Sign Up</h1>
 <%= render 'form'%>
 </div>
</div>
</div>