
<div class="row justify-content-center mt-2">
<h1>About Classified Hero</h1>
  <div class="col-5 p-3 text-center border border-light rounded alert-dismissable fade show" id="page-content">
    <p class="mt-5">A website that allows users to login and manage their listings</p>
  </div>
  </div>
  