/* @import 'bootstrap/dist/css/bootstrap' */

body {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

#page-content {
  background-color: lightgrey;
  /* flex: 1 0 auto; */
}
.navbar {
  background-color: black !important;
}

.nav-link, .navbar-brand {
  color: white !important;
}

div .jumbotron {
  background-image: url('jumbotron.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  text-shadow: 2px 2px #6f6d6d;
}

.footer {
  /* display: flex; */
  justify-content: center;
  align-items: center;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(136, 136, 136);
   color: white;
   text-align: center;
}

div.col-8 {
  width: 20em;  
}

form {
  margin: 0 auto;
  width: 20em;
}

.alert {
  padding: 0;
  margin-bottom: 0;
}