<div class="footer">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Sell the product you want to sell now!</h5>
    <p class="card-text">Market your product</p>
    <a href="#" class="btn btn-primary">Contact us</a>
  </div>
</div>